%h1 Silent Post API
.jumbotron
  %h2{:style => "margin-bottom:30px;"} A simple way to utilize 
  %p 
    = image_tag "mailchimp-post.png", :align => "left", :style => "width:250px;padding:10px 20px 10px 10px"
    Simple Post API is a simple free service to add people to your Mailchimp or Constant Contact list through a very simple HTTP POST or GET.  It also has the ability to push events to Google Analytics. This system was built because there are 3rd party systems that don't integrate with Mailchimp but that do have the ability to do simple HTTP silent posts to send information to another server.  The idea is that with this simple way to integrate with Mailchimp you can have a system you use post to this system and then this system formats your data and submits it to Mailchimp.
    %br
    %small
      View documentation specific to:
      %ul
        %li
          = #link_to "Mailchimp", '/?docs=mc'
          = link_to "Mailchimp", mail_chimp_documentation_path
        %li
          = #link_to "Constant Contact", '/?docs=cc'
          = link_to "Constant Contact", constant_contact_documentation_path
        %li
          = link_to "Google Event Tracking", google_event_tracking_documentation_path
      
%hr
.panel.panel-default
  .panel-body
    This service was created by 
    =link_to "Web Ascender", "http://www.webascender.com"
    |
    = link_to "Fork this on github", "https://github.com/ryandoom/mailchimp-post"

