<h1>Listing logs</h1>

<div class="pull-right">
<%= paginate(@logs) %>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Post type</th>
      <th>Params</th>
      <th>Referral Source</th>
    </tr>
  </thead>

  <tbody>
    <% @logs.each do |log| %>
      <tr>
        <td><%= log.post_type %></td>
        <td><%= log.params %></td>
        <td><%= log.referral_source %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="pull-right">
<%= paginate(@logs) %>
</div>